<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

{% include 'header.html' %}
{% load static %}

<!-- //w3l-header -->
<section class="w3l-booking-top">
    <!-- /form-16-section -->
    <div class="booking-form-61">
        <div class="container">
            <div class="booking-top-gds">
                <div class="form-right-inf">
                    <div class="booking-form-content">
                        <h6>Book Now</h6>
                        <p>Booking Type</p>
                        <form action="booking" class="book-depature-6 signin-form" method="post">
                        {% csrf_token %}
                            <div class="d-grid grid-col-2">
                                <div class="hny-frm_grid">
                                    <h5>Name</h5>
                                    <input class="name" name="Text" type="text" placeholder="Your Name" required="">
                                </div>
                                <div class="hny-frm_grid">
                                    <h5>Phone Number</h5>
                                    <input class="phone" name="Text" type="phone" placeholder="Phone Number" required="">
                                </div>
                                
                                <!-- <div class="hny-frm_grid">
                                    <h5>Check-in Date</h5>
                                    <input class="date" name="Text" type="date" placeholder="Date" required="">
                                </div>
                                <div class="hny-frm_grid">
                                    <h5>Check-out Date</h5>
                                    <input class="date" name="Text" type="date" placeholder="Date" required="">
                                </div> -->
                            </div>
                            <div class="d-grid mt-3">
                              <div class="hny-frm_grid">
                                <h5>E-mail</h5>
                                <input class="" name="email" type="email" placeholder="Email ID" required>
                            </div>
                          </div>  
                            <div class="d-grid hny-frm_grid mt-3">
                              <h5>Check-in/check-out Date</h5>
                              <input 
                                  type="text" 
                                  id="from" 
                                  name="check_in" 
                                  placeholder="Check-in/check-out Date" 
                                  pattern="[0-9]{4}[-]{1}[0-9]{2}[-]{1}[0-9]{2}" 
                                  autocomplete="off"
                                  readonly 
                                  required 
                              />
                            </div>
                            <div class="d-grid grid-col-2 mt-3">
                              <div class="hny-frm_grid">
                                  <h5>Room Type</h5>
                                  <select id="room_type" name="room_type" required="">
                                  {% if room_type %}
                                    <option value="{{room_type_id}}">{{room_type}}</option>
                                    {% for i in rooms %}
                                      {% ifequal i.id room_type_id %}
                                      {% else %}
                                      <option value="{{i.id}}">{{ i.room_type }} </option>
                                      {% endifequal %}
                                      {% endfor %}
                                  {% else %}
                                  {% for i in rooms %}
                                      <option value="{{i.id}}">{{ i.room_type }} </option>
                                      {% endfor %}
                                    {% endif %}
                                  </select>
                              </div>
                              <div class="hny-frm_grid">
                                  <h5>Number of Rooms</h5>
                                  <select id="no_of_rooms" name="no_of_rooms" required="">

                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                  </select>
                              </div>
                          </div>
                            <div class="d-grid grid-col-2 mt-3">
                                <div class="hny-frm_grid">
                                    <h5>Adults</h5>
                                    <select id="no_of_adults" name="no_of_adults" required="">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <div class="hny-frm_grid">
                                    <h5>Children</h5>
                                    <select id="no_of_Children" name="no_of_Children" required="">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                           
                            <button class="btn btn-style btn-secondary book mt-3">Book Now</button>
                            <p style="color:#000; font-size:30px;">₹<p id="price" style="color:#f57b51; font-size:20px;"></p></p>

                        </form>
                    </div>
                </div>

                <div class="booking-forms-16-info align-self">
                  <h5>Your Reservation</h5>
                  <h3 class="title-big">Select the Room, check for availability and book it.</h3>
                  <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur
                      adipisicing elit Ea consequuntur illum.</p>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- //form-16-section -->
{% include 'footer.html' %} 
<!-- Template JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>

<script src="assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script -->

<!-- script for owlcarousel -->
<script>
  $(document).ready(function () {
    $('.owl-testimonial').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script for owlcarousel -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>


<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->

<script src="assets/js/bootstrap.min.js"></script>



<div id = "v-w3layouts"></div>
<script>(function(v,d,o,ai){ai=d.createElement('script');ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, '../../../../../../../a.vdo.ai/core/v-w3layouts/vdo.ai.js');
</script>

<link rel="stylesheet" href="{% static '/css/hotel-datepicker.css' %}">

<script src="https://unpkg.com/fecha@4.0.0/lib/fecha.umd.js"></script>

<script src="{% static 'js/hotel-datepicker.min.js' %}"></script>



<script>
var input = document.getElementById('from');
var datepicker = new HotelDatepicker(input);

var todayDate = new Date().toISOString().slice(0, 10);
var tomorrowDate = new Date();
tomorrowDate.setDate(tomorrowDate.getDate()+1);
tomorrowDate=tomorrowDate.toISOString().slice(0, 10);
document.getElementById("from").value = todayDate+" - "+tomorrowDate;
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function(){
      var room_type = $("#room_type").val();
      var no_of_rooms = $("#no_of_rooms").val();
      console.log(room_type);
      $.ajax({
        url: 'ajax/send_data',
        type: "POST",
         
        data: {
          'room_type': room_type,
          'no_of_rooms':no_of_rooms,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
            $('#price').html(data.price);
            console.log(data);

            var options = "";
            for(i=0;i<parseInt(data.max_person);i++)
            {
              options += `<option value="${i+1}">${i+1}</option>`;
              
            }
            $('#no_of_adults').html(options);

          }
      });
       $('#room_type, #no_of_rooms').change(function () {
      var room_type = $("#room_type").val();
      var no_of_rooms = $("#no_of_rooms").val();
      console.log(room_type);
      $.ajax({
        url: 'ajax/send_data',
        type: "POST",
         
        data: {
          'room_type': room_type,
          'no_of_rooms':no_of_rooms,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
            $('#price').html(data.price);

            var options = "";
            for(i=0;i<parseInt(data.max_person);i++)
            {
              options += `<option value="${i+1}">${i+1}</option>`;
              
            }
            $('#no_of_adults').html(options);

          }
      });

    });
});
</script>
  
</body>





<!-- Mirrored from demo.w3layouts.com/demos_new/template_demo/28-03-2020/hotels-liberty-demo_Free/1275019035/web/booking.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Jun 2021 08:11:22 GMT -->
</html>