
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/verification.css' %}">
<link rel="stylesheet" href="{% static 'css/style-liberty.css' %}">
<title>Partuma</title>
</head>
<body>

{% if messages %}
		{% for message in messages %}
        {% if 'warning' in message.tags %}
					<div 
						class="alert alert-{{ message.tags }} alert-dismissible show my-0"
						role="alert"
					>
						<strong 
							style="color:red; text-align:center; width:100%; z-index:1"
						>
							{{message}}
						</strong>
						<input 
							type="button"
							style="color:red; text-align:center; right:20px; z-index:1" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
						</input>
        </div> 
        {% endif %}
		{% endfor %}
{% endif %}

<div 
	class="row info place-items-center align-items-center justify-content-center m-auto">
		<div class="details-card py-5 px-3 m-3 col-md-6 w3l-booking-top">
			<h5 class="mb-3 m-0" style="text-align:center">
				Details verification
			</h5>
			<div class="d-grid grid-col-2">
				<div class="hny-frm_grid">
					<h5>Name</h5>
					<input class="form-control" placeholder="{{ user_input.name }}" disabled>
				</div>
				<div class="hny-frm_grid">
					<h5>Phone Number</h5>
					<input class="form-control" placeholder="{{ user_input.phone_number }}" disabled>
				</div>
			</div>

			<div class="d-grid grid-col-2 mt-2">
				<div class="hny-frm_grid">
					<h5>E-mail</h5>
					<input class="form-control" placeholder="{{ user_input.email }}" disabled>
				</div>
				<div class="hny-frm_grid">
					<h5>Room Type</h5>
					<input class="form-control" placeholder="{{ room_type }}" disabled>
				</div>
			</div>

			<div class="d-grid grid-col-2 mt-2">
				<div class="hny-frm_grid">
					<h5>Check-in Date</h5>
					<input class="form-control" placeholder="{{ user_input.check_in }}" disabled>
				</div>
				<div class="hny-frm_grid">
					<h5>Check-out Date</h5>
					<input class="form-control" placeholder="{{ user_input.check_out }}" disabled>
				</div>
			</div>
			
			<div class="d-grid grid-col-2 mt-2">
				<div class="hny-frm_grid">
					<h5>No of Adults</h5>
					<input class="form-control" placeholder="{{ user_input.no_of_adults }}" disabled>
				</div>
				<div class="hny-frm_grid">
					<h5>No of Children</h5>
					<input class="form-control" placeholder="{{ user_input.no_of_children }}" disabled>
				</div>
			</div>

			<div class="d-grid grid-col-2 mt-2">
				<div class="hny-frm_grid">
					<h5>No of Rooms</h5>
					<input class="form-control" placeholder="{{ user_input.no_of_rooms }}" disabled>
				</div>
				<div class="hny-frm_grid">
					<h5>No of Days</h5>
					<input class="form-control" placeholder="{{ user_input.no_of_days_requested }}" disabled>
				</div>
			</div>

			<div class="d-grid mt-2">
				<div class="hny-frm_grid">
					<h5>Price</h5>
						<p style="color:#000; font-size:30px; display:inline">
							R
							<p 
								id="price" 
								style="color:#f57b51; font-size:24px;display:inline;">
								{{ total_price }}
							</p>
						</p>
				</div>
			</div>
		</div>

		<div class="otp-card py-5 px-3 m-3 col-md-6">
			<h5 class="mb-3 m-0" style="text-align:center">
				Mobile phone verification to confirm your booking
			</h5>
			<span class="mobile-text">
				Enter the OTP we just sent on your mobile phone 
				<b style="color: #f57b51;">{{var_phone}}</b>
			</span>	
			<div 
				class="d-flex flex-row mt-3 " 
				style="text-align: center; justify-content: center;"
			>
				<form method="POST" action="/verification" >
				{% csrf_token %}
				<input 
					type="text" 
					class="form-control" 
					autofocus="" 
					name='otp' 
					placeholder="Enter OTP" 
					autocomplete="off" 
					pattern="[0-9]{4}" 
					required
				>
				<input 
					type="submit" 
					style="background-color: #f57b51;color: #fff;"
					class="form-control mt-2" name="verify" value="Verify"
					style="margin-top: 10px;"
				>
				</form>
			</div>

			<div class="text-center mt-3">
				<span class="d-block mobile-text mt-3" id="tim">
				*OTP expires in 05:00 minutes</span>
			</div>
		
			<div class="text-center mt-3">
				<span class="d-block mobile-text">Didn't receive the code?</span>
				<a
					href="/resend_otp" 
					class="font-weight-bold cursor" 
					style="color: #677eff;"
				>
					Resend
				</a>
			</div>
		</div>
</div>

<script 
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
	crossorigin="anonymous"></script>

<script>
// function startTimer(duration, display) {
//     var timer = duration, minutes, seconds;
//     setInterval(function () {
//         minutes = parseInt(timer / 60, 10);
//         seconds = parseInt(timer % 60, 10);

//         minutes = minutes < 10 ? "0" + minutes : minutes;
//         seconds = seconds < 10 ? "0" + seconds : seconds;

//         display.textContent = minutes + ":" + seconds;

//         if (--timer < 0) {
//             timer = duration;
//         }
//     }, 1000);
// }

// window.onload = function () {
//     var fiveMinutes = '{{vat_total_min}}',
//         display = document.querySelector('#time');
//     startTimer(fiveMinutes, display);
// };


if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}

document.querySelectorAll('form').forEach(form => {
	form.addEventListener('submit', (e) => {
		// Prevent if already submitting
		if (form.classList.contains('is-submitting')) {
			e.preventDefault();
			console.info('Successive submit suppressed');
		}

		// Add a visual indicator to show the user it is submitting
		form.classList.add('is-submitting');
	});
});


</script>
</body>
</html>
